.MassEffect {
    font-style : "Times New Roman";
    background-color: orange;
    color : #ffffff;
}

.Kratos {
    font-style : "Times New Roman";
    background-color: black;
    color : #004d00;
}